<!-- <div class="main-container">
  <div class="nav-container">
    <ul> -->

<!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li> -->
<!-- localhost:4200/Home -->
<!-- <li routerLinkActive="active"><a [routerLink]="'About'">About</a></li> -->
<!-- localhost:4200/About -->
<!-- <li routerLinkActive="active"><a [routerLink]="['Contact']">Contact</a></li> -->
<!-- localhost:4200/Contact -->
<!-- <li routerLinkActive="active"><a routerLink="/Courses">Courses</a></li> -->
<!-- localhost:4200/Courses -->

<!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="" fragment="Home">Home</a>
      </li> -->
<!-- localhost:4200/Home -->
<!-- <li routerLinkActive="active"><a routerLink="" fragment="About">About</a></li>localhost:4200/About -->
<!-- <li routerLinkActive="active"><a routerLink="" fragment="Contact">Contact</a></li>localhost:4200/Contact -->
<!-- <li routerLinkActive="active"><a routerLink="" fragment="Courses">Courses</a></li>localhost:4200/Courses -->
<!-- <span style="float: right;"> -->
<!-- <li (click)="logIn()"><a>LogIn</a></li> -->
<!-- <li (click)="logOut()"><a>LogOut</a></li> -->
<!-- </span> -->
<!-- </ul> -->
<!-- </div> -->
<!-- <div class="component-container"> -->
<!-- <app-home id=" Home"></app-home>
    <app-about id="About"></app-about>
    <app-contact id="Contact"></app-contact>
    <app-courses id="Courses"></app-courses> -->
<!-- <router-outlet></router-outlet> -->

<!-- <div class="spinner" *ngIf="spinnerDiv"></div> -->

<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div>
    <input type="text" class="inputBox" placeholder="Enter text to filter data" [(ngModel)]="filterTextValue">
  </div> -->
<!-- <h2>Total Students: {{totalStudents}}</h2> -->
<!-- <table id="student">

    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>Marks</th>
      <th>Percentage</th>
      <th>DOB</th>
      <th>Gender</th>
    </tr>

    <tr *ngFor="let student of filteredStudents">
      <td>{{student.name}}</td>
      <td>{{student.course}}</td>
      <td><input type="number" value="student.marks" [(ngModel)]="student.marks"></td>  -->
<!-- Pipe percentage -->
<!-- <td>{{student.marks / totalMarks | percent : '1.1-1'}}</td> -->
<!-- Pipe durrency -->
<!-- <td>{{student.marks / totalMarks | currency:'INR' }}</td> -->
<!-- <td>{{student.marks | percentage : totalMarks : 3 }}</td>
      <td>{{student.DOB | date : 'fullDate' | lowercase}}</td>
      <td>{{student.gender | uppercase}}</td>
    </tr>

    <button (click)="addFakeStudentData()">Add student</button>
    <br>
    <button (click)="changeGender()"> Change Gender</button>
  </table> -->
<!-- </div> -->

<!-- Template From -->

<div class="form-container">
  <h2>Example Form</h2>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div ngModelGroup="personalDetails" #personalDetails="ngModelGroup">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required ngModel #fname="ngModel">
      <!-- <div>
        <small *ngIf="fname.invalid && fname.touched">Firstname is a required field</small>
      </div> -->

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required ngModel #lname="ngModel">
      <!-- <div>
        <small *ngIf="lname.invalid && lname.touched">Lastname is a required field</small>
      </div> -->

      <div>
        <small *ngIf="personalDetails.invalid && personalDetails.touched">Some of the field value are not
          updated.</small>
      </div>

      <button (click)="setDefaultValue()">Set default value</button>

    </div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" required ngModel>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required ngModel>

    <label for="message">Message:</label>
    <input type="text" id="message" name="message" ngModel>

    <label for="html">Gender : </label>
    <span *ngFor="let gen of gender">
      <input type="radio" id="{{gen.id}}" name="gender" value="{{gen.value}}" [ngModel]="defaultGender">
      <label for="gender">{{gen.value}}</label>
    </span>
    <input type="submit" value="Submit" [disabled]="!myForm.valid">
  </form>
</div>

<div class="form-container">
  <p><b>Name : </b>{{name}}</p><br>
  <p><b>Email : </b>{{email}}</p><br>
  <p><b>Phone : </b>{{phone}}</p><br>
  <p><b>Address : </b>{{address}}</p><br>
  <p><b>Message : </b>{{message}}</p><br>
  <p><b>Gender : </b>{{gen}}</p>
</div><b> </b>