.main-container {
  width: 960px;
  margin: 0px auto;
}

#student {
  margin: 30px auto;
}
#student tr {
  /* padding: 40px; */
  background-color: #b4dae2;
}
#student th {
  padding: 10px;
  background-color: #c4ddc5;
}

#student td {
  padding: 20px;
}
/* .nav-container {
  position: fixed;
  min-width: 960px;
} */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.grey-background {
  background-color: gray;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #60cce1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.inputBox {
  margin: 10px 14.5%;
  width: 420px;
  padding: 10px 20px;
  
}
